bod {
  background: url(https://veja.abril.com.br/wp-content/uploads/2018/01/saude-dieta-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

n1 {
  text-align: center;
  margin: 12px;
  background: #b0c4de;
  color: black;
}

h1 {
  text-align: center;
  margin: 10px;
}

button {
  text-align: center;
  margin: 12px;
  background: #b0c4de;
  color: black;
}

for n1 {
  margin: 12px;
  background: ;
  color: black;
}